.form{
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items:center ;
    width: 85%;
    padding: 5%;
    border: 1px solid rgba($color: #d1d1d1, $alpha: 1.0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    position: relative;
    max-width: 800px;
    
    .image{
        display: flex;
        justify-content: center;
        width: 200px;
        height: 200px;
        background-image: url("../../images/producto.jpg");
        background-position: center;
        
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 1%;
        color:  #6439ff;
        font-weight: bold;
    }
    
    .itemContainer{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    height: 65px;
    label{
        color: rgba($color: #2e2e2e, $alpha: 1.0);
        font-weight: 300;
        font-size: 14px;
    }
    &:nth-child(6){
        input{
            border: none;    
        }
    }
    input{
        box-sizing: border-box;
        max-width: 242px;
        border: none;
        height: 30px;
        border-bottom: 0.5px solid rgba($color: #2e2e2e, $alpha: 1.0);
        outline: none;
        padding: 5px;
        
        
       
        transition: 0.1s;
        &:hover{
            border-color: #6439ff;
        }
        &:focus{
            border-color: #6439ff;
        }
    }
}

.itemContainerText{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 2;
    align-items: center;
    position: relative;
    width: 90%;
    height: 100px;
    label{
    color: rgba($color: #4e4c4c, $alpha: 1.0);
    font-weight: 300;
    }
    textArea{
        height: 100px;
        width: 100%;
        padding: 10px;
        border: 0.5px solid rgba($color: #4e4c4c, $alpha: 1.0);

        &:focus{
            outline: none;
            border: 0.5px solid  #6439ff; 
        }
    }
  
}

